# ===== Maven =====
target/
*.log

# ===== Eclipse =====
.project
.classpath
.settings/

# ===== Selenium / Test Reports =====
test-output/
reports/
allure-results/
allure-report/
screenshots/

# ===== WebDrivers =====
chromedriver*
geckodriver*
edgedriver*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Misc =====
*.tmp
*.bak
